* {
    color: black;
}

.nombre {
    align-items: center;   
    justify-content: center;
}


* { 
    box-sizing: border-box; 
  } 

  [class*="col-"] { 
    float: left; 
    padding: 5px; 
    border: 0px solid rgb(105, 104, 104); 
    background-color: white;
    justify-content: space-between;    
  } 

  [class*="col2-"] { 
    float: left;
    padding: 8px 1px 0px 10px ;  
    background-color: rgb(153, 152, 152);
  } 

  [class*="col3-"] { 
    float: left; 
    padding: 5px; 
    border: 1px solid rgb(182, 182, 182); 
    background-color: #ffffff;
    justify-content: space-between;    
  } 


  footer {
    font-family: 'Raleway', sans-serif;  
    font-weight: bold;
    background-color: rgb(153, 152, 152);
}


#fondo2 {background-color: rgb(182, 182, 182);
}
#fondo3 {background-color: rgb(153, 152, 152);
    background: linear-gradient(45deg,gray,rgb(153, 152, 152),rgb(182, 182, 182));
}
#fondo4 {background-color: rgb(153, 152, 152);
    background: linear-gradient(45deg,gray,rgb(153, 152, 152),rgb(182, 182, 182));
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.no-boton{
    text-decoration:none;
    width: 215px;
    font-weight: 500;
    font-size: 15px;
    color:#ffffff;
    padding-top:5px;
    padding-bottom:10px;
    background:#f2595e;
    border-color: #F69DA1;
    border-width: 2px;
    border-style: solid;
    text-align: left;  
}

.no-boton:hover{
    background:  rosybrown;
}

button:focus {   /*al estar seleccionado*/
    box-shadow: 0 0 0 1px white, 0 0 0 0px rgb(142, 142, 240);
}

.nav-boton {
    text-decoration:none;
    width: 215px;
    font-weight: 500;
    font-size: 15px;
    color:#ffffff;
    padding-top:5px;
    padding-bottom:10px;
    background:#f2595e;
    border-color: #F69DA1;
    border-width: 2px;
    border-style: solid;
    text-align: left;
    margin: 1px;
    }


.nav-boton:hover{
        background:  rosybrown;
}
.no-boton:hover{
    background:  rosybrown;
}
.boton2:hover{
    background:  rosybrown;
}


.h6-clase {
    font-weight: bold;
    color: rgb(182, 21, 142);
    text-align: left;
    padding: 0px 5px 0px 8px;     
}

.h6-clase2 {
    font-weight: bold;
    color: rgb(182, 21, 142);
    text-align: left;
    padding: 10px 5px 0px 8px;     
}

h1 {
    font-family: 'Raleway', sans-serif;
    margin-left: 10px;
    margin-right: 20px;
    color: rgb(247, 243, 246);
}

h2 {
    font-family: 'Oswald', sans-serif;  /*  fuente 2  */
    width: 180px;
    color: rgb(182, 21, 142);

    }

h3 {
    font-family: 'Lato', sans-serif;
    font-weight: bold;
    color:rgb(182, 21, 142);
}


p {
    font-family: 'Nunito Sans', sans-serif;
    
}

.img{
    cursor: pointer;
}


@media (max-width: 767px){
    section {
        flex-direction: column;
}
}

.boton2 {
    text-decoration:none;
    width: 215px;
    font-weight: 500;
    font-size: 15px;
    color:#ffffff;
    padding-top:5px;
    padding-bottom:10px;
    background:#f2595e;
    border-color: #F69DA1;
    border-width: 2px;
    border-style: solid;
    text-align: left;
    margin: 1px;  
}

.links a{
    text-decoration: none;
    color: black;
    display: block;
    padding: 7px;
    
}
.links {
    background-color: #cecbcb;
    width: 215px;
    display: none;
    
}

.links a:hover{
    background-color: #e6e2e2;
}

.desplegable:hover .links{
    display: block;
}
